*{
    padding: 0px;
    margin: 0px;
}
.contain{
    
    height: 200px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 3px slategray solid;
}

.card{
    height: 70%;
    padding-left: 5%;
    border: 1px slategray solid;
}

.top{
    height: 30%;
    background-color: aqua;
    position: relative;
    margin: 0%;
}
.top img{
        height: 100%;
        position: absolute;
        top: 46%;
        left: 3%;
        filter: invert(1);
        border: 1px slategray solid;
        border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 6% auto;
}
.name{
    font-size: 60%;
}
.location{
    height: 30px;
}

.location > img{
    height: 60%;
}

.info > div > p{
    font-size: 82%;
}
.settings > a > img{
    height: 20%;
}

.settings:hover{
    transform: scale(1.05);
    transition: .1s;
}